.section-header {
  min-height: 382px;
  text-align: center;
  position: relative;

  &_wavy {
    background-image: url("./assets/icons/page-2/bg-1.svg");
  }

  &_linear {
    background: $color_accent;
    border-bottom: 36px solid $bg_dark;
  }

  &_parabola {
    background: url("./assets/icons/page-4/bg-oval.svg");
    height: 600px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: top;
  }

  &_partner {
    background: url("./assets/icons/page-8/bg-4.svg");
  }

  &__header {
    display: block;
    margin: 0 auto;
    padding-top: 74px;
    padding-bottom: 61px;
    font-size: 48px;
    max-width: 745px;

    &_wide {
      max-width: 885px;
    }

    &_light {
      color: #fff;
    }

    @media (max-width: 400px) {
      padding-top: 30px;
      padding-bottom: 50px;
      font-size: 35px;
    }
  }
}

.wave-line {
  width: 88px;
  height: 9px;

  &__img {
    width: 100%;
  }
}
