.section-info {
  &_dark {
    background: $bg_dark;
  }

  &_accent {
    background: $color_accent;
    color: #fff;
  }

  &__wrapper {
    display: flex;
    padding-top: 57px;
    padding-bottom: 63px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      padding-top: 54px;
      padding-bottom: 47px;
      text-align: center;
    }

    &_s {
      padding-top: 30px;
      padding-bottom: 0;

      @media (max-width: 768px) {
        width: 100%;
        flex-direction: row;
      }
    }

    &_reverse {
      flex-direction: row-reverse;

      &_s {
        padding-top: 48px;
        padding-bottom: 48px;
      }

      &_m {
        padding-top: 82px;
        padding-bottom: 82px;
      }

      &_l {
        padding-top: 110px;
        padding-bottom: 160px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        padding-top: 54px;
        padding-bottom: 47px;
        text-align: center;
      }
    }

    &_column {
      flex-direction: column;
      align-items: center;
      padding-top: 0;

      @media (max-width: 1024px) {
        padding-top: 45px;
      }
    }
  }
}

.image-block {
  display: flex;
  align-items: center;

  &_xs {
    max-width: 45px;
    width: 15%;
  }

  &_s {
    max-width: 420px;
    width: 40%;
  }

  &_m {
    max-width: 563px;
    width: 45%;
  }

  &_l {
    width: 100%;
    height: 230px;
    max-width: 885px;
    padding-top: 76px;
    padding-bottom: 70px;

    @media (max-width: 400px) {
      padding-top: 54px;
      padding-bottom: 50px;
      height: 150px;
    }
  }

  @media (max-width: 1024px) {
    width: 40%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 100%;
  }

  &__img {
    width: 100%;

    &_round {
      border-radius: 2%;
    }
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background: $color_btn;

    @media (max-width: 400px) {
      width: 50px;
      height: 50px;
    }
  }

  &_padding {
    padding-top: 80px;

    @media (max-width: 768px) {
      padding-top: 20px;
    }
  }

  &__icon {
    height: 100%;
  }
}

.content-block {
  &_s {
    max-width: 450px;
    width: 80%;

    @media (max-width: 824px) {
      width: 75%;
    }
  }

  &_m {
    max-width: 520px;
    width: 50%;
    @media (max-width: 824px) {
      width: 55%;
    }
    @media (max-width: 768px) {
      width: 100%;
      padding-top: 32px;
    }
  }

  &__descr {
    font-size: 18px;
    padding: 45px 0;
    color: $text_grey;
    line-height: 29px;

    @media (max-width: 400px) {
      font-size: 16px;
    }

    &_white {
      color: #fff;
    }

    &_thin {
      padding: 16px 0 0;

      @media (max-width: 400px) {
        padding: 10px 0 0;
      }
    }

    &_left {
      text-align: left;
    }
  }

  &_l {
    width: 100%;
    max-width: 100%;

    @media (max-width: 400px) {
      padding-top: 0;
    }
  }

  @media (max-width: 1024px) {
    width: 54%;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding-top: 32px;
  }
}

.video {
  position: relative;
  display: block;

  &::after {
    content: url("./assets/icons/core/play.svg");
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 7px;
    width: 98px;
    height: 98px;
    border-radius: 100%;
    background: $color_accent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;

    @media (max-width: 400px) {
      width: 75px;
      height: 75px;
    }
  }
}

.block-center {
  margin: 0 auto;
  text-align: center;
}
