.section-info {
  &_dark {
    background: $bg_dark;
  }

  &__wrapper {
    display: flex;
    padding-top: 57px;
    padding-bottom: 63px;
    justify-content: space-between;

    &_reverse {
      flex-direction: row-reverse;
      padding-top: 110px;
      padding-bottom: 160px;
    }

    &_column {
      flex-direction: column;
      align-items: center;
      padding-top: 0;

      @media (max-width: 1024px) {
        padding-top: 45px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      padding-top: 54px;
      padding-bottom: 47px;
      text-align: center;
    }
  }
}

.image-block {
  max-width: 563px;
  width: 45%;

  @media (max-width: 1024px) {
    width: 40%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 100%;
  }

  &__img {
    width: 100%;
  }

  &_padding {
    padding-top: 80px;

    @media (max-width: 768px) {
      padding-top: 20px;
    }
  }

  &_l {
    width: 100%;
    height: 230px;
    max-width: 885px;
    padding-top: 76px;
    padding-bottom: 70px;

    @media (max-width: 400px) {
      padding-top: 54px;
      padding-bottom: 50px;
      height: 150px;
    }
  }

  &__icon {
    height: 100%;

    &:hover {
      // TODO resize animation
    }
  }
}

.content-block {
  max-width: 520px;
  width: 50%;

  @media (max-width: 1024px) {
    width: 54%;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding-top: 32px;
  }

  &__descr {
    font-size: 20px;
    padding: 24px 0;
    color: $text_grey;
    line-height: 29px;

    &_left {
      text-align: left;
    }
  }

  &_l {
    width: 100%;
    max-width: 100%;

    @media (max-width: 400px) {
      padding-top: 0;
    }
  }
}

.block-header {
  margin: 0;
  line-height: 134%;

  &_l {
    font-size: 48px;
    font-weight: 700;

    @media (max-width: 824px) {
      font-size: 34px;
    }
  }

  &_m {
    font-weight: 500;
    font-size: 32px;
  }

  &_s {
    font-weight: 500;
    font-size: 28px;
  }

  &_left {
    text-align: left;
  }
}
