.section-cards {
  &__header {
    min-height: 405px;
    border-bottom: 17px solid $color_accent;
    padding: 100px 0;

    @media (max-width: 360px) {
      min-height: 500px;
    }

    &_right {
      background-image: url("./assets/icons/page-7/bg-3.svg");
      background-position: right bottom;
      background-repeat: no-repeat;

      @media (max-width: 824px) {
        background-image: url("./assets/icons/page-7/bg-3-s.svg");
        background-color: #f6f6f6;
      }

      @media (max-width: 400px) {
        padding-top: 30px;
      }
    }

    &__text {
      max-width: 700px;
      width: 50%;

      @media (max-width: 824px) {
        width: 100%;
      }

      @media (max-width: 668px) {
        font-size: 32px;
      }
    }
  }
}

.block-lines {
  &_dark {
    background: $bg_dark;
  }

  &__wrapper {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 400px) {
      flex-direction: column;
      padding: 50px 0;
    }
  }

  &__header {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
  }

  &__img {
    width: 40%;

    img {
      width: 100%;
    }

    @media (max-width: 400px) {
      width: 100%;
      padding-bottom: 24px;
    }
  }

  &__descr {
    width: 52%;

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  &__subheader {
    padding-top: 16px;
    font-weight: 500;
    color: $color_accent;
    font-size: 20px;
  }
}
