// * There is a CSS reset (sanitize.css) imported by 'postcss-normalize' plugin

// Core modules
@import "css/core/fonts";
@import "css/core/variables";
@import "css/core/mixins";
@import "css/core/animation";
@import "css/core/media";

// Content blocks | BEM
@import "css/blocks/header";

// General styles
* {
  transition: 0.5s all;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.container {
  max-width: 1125px;
  position: relative;
  margin: 0 auto;
}
