// * There is a CSS reset (sanitize.css) imported by 'postcss-normalize' plugin

// Core modules
@import "css/core/fonts";
@import "css/core/variables";
@import "css/core/mixins";
@import "css/core/animation";
@import "css/core/media";

// Content blocks | BEM
@import "css/blocks/header";
@import "css/blocks/footer";
@import "css/blocks/section-info";
@import "css/blocks/section-list";
@import "css/blocks/section-header";

@import "css/blocks/button";

// General styles
* {
  transition: 0.5s all;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $text_dark;
  font-size: 18px;
}

a:hover {
  color: $color_accent;
}

.container {
  max-width: 1173px;
  padding: 0 24px;
  position: relative;
  margin: 0 auto;
}

.text {
  font-weight: 700;
  font-size: inherit;
  color: inherit;

  &_accent {
    color: $color_accent;
  }
}
