// * There is a CSS reset (sanitize.css) imported by 'postcss-normalize' plugin

// Core modules
@import "css/core/fonts";
@import "css/core/variables";
@import "css/core/animation";

// Content blocks | BEM
@import "css/blocks/cookie";
@import "css/blocks/header";
@import "css/blocks/footer";
@import "css/blocks/section-info";
@import "css/blocks/section-list";
@import "css/blocks/section-header";
@import "css/blocks/block-header";
@import "css/blocks/button";
@import "css/blocks/section-block";
@import "css/blocks/section-cards";
@import "css/blocks/carousel";
@import "css/blocks/sandwich";
@import "css/blocks/pageup";

// General styles
* {
  transition: 1s all;
  animation-fill-mode: both;
  animation-duration: 1s;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $text_dark;
  font-size: 18px;
  text-decoration: none;
  // not working on Safari
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

iframe {
  object-fit: cover;
  width: 100%;
}

.main {
  padding-top: 100px;

  @media (max-width: 668px) {
    padding-top: 72px;
  }
}

a:hover {
  color: $color_accent;
}

.container {
  max-width: 1173px;
  padding: 0 24px;
  position: relative;
  margin: 0 auto;
}

.text {
  font-weight: 700;
  font-size: inherit;
  color: inherit;

  &_accent {
    color: $color_accent;
  }
}
